/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 15px;
  font-family: Optima;
}

/* Layout */

section {
  float: left;
  width: 60%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

a, a:visited, a:focus {
    text-decoration: none;
    color: #a66;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
  }
  
  a:active {
    color: #ff0000;
  }
  
  a.external:after {
    content: " \2197";
  }

@media screen and (min-width: 600px) {
    
    section {
      float: left;
      width: 50%;
    }
  
    aside {
      float: left;
      width: 30%;
    }
  
    nav {
      float: left;
      width: 20%;
      height: 100%;
    }
  
    footer {
      clear: both;
    }
  }

  
